.header {
    padding: 40px;
    color: blue;
    text-emphasis: 20px;
  }

h2 {
    color: blue;
    padding: 20px;
}

.sidebar{
    float:right;
}

.main {
    float:left;
}
p {
    padding: 20px;
}